/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */
.bg-dark {
    background-color: #151C16 !important;
}

html {
    scrollbar-gutter: stable;
}

.calendar {
    margin-right: -0.5rem;
}
